# 二阶聚类

In [11]:
import pandas as pd
import numpy as np
two_factor = pd.read_csv('spss_examine/two_factor_cluster.csv')
two_factor.head()

           x          y  label  TSC_3227
0  36.364452   0.234396    5.0         9
1  73.174667  40.009937    0.0         7
2  29.087975 -72.028297    4.0         2
3 -62.729225  47.904079    1.0         5
4 -16.324730 -41.660793    9.0        -1

In [13]:
mapped_clusters = {}
for cluster_id in range(1, 11):
    cluster = two_factor[two_factor['TSC_3227'] == cluster_id]['label'].tolist()
    most_frequent = max(set(cluster), key=cluster.count)
    mapped_clusters[cluster_id] = most_frequent
mapped_clusters

{1: 7.0,
 2: 4.0,
 3: 8.0,
 4: 2.0,
 5: 1.0,
 6: 1.0,
 7: 0.0,
 8: 3.0,
 9: 5.0,
 10: 6.0}

In [16]:
two_factor['TSC_3227'] = two_factor['TSC_3227'].replace(mapped_clusters)
two_factor.head(10)

           x          y  label  TSC_3227
0  36.364452   0.234396    5.0         1
1  73.174667  40.009937    0.0         0
2  29.087975 -72.028297    4.0         2
3 -62.729225  47.904079    1.0         7
4 -16.324730 -41.660793    9.0        -1
5 -41.593952  77.744614    2.0         4
6 -91.662285 -12.126204    1.0         7
7   6.932587  69.251534    3.0         8
8 -82.378654 -15.227177    1.0         7
9  13.855180 -36.795948    4.0        -1

In [15]:
accuracy = np.mean(two_factor['TSC_3227'] == two_factor['label'])
print(f"映射后的准确率: {accuracy:.4f}")

映射后的准确率: 0.7692

In [21]:
from sklearn.metrics import silhouette_score

# 计算二阶聚类的轮廓系数
silhouette_avg = silhouette_score(two_factor[['x', 'y']], two_factor['TSC_3227'])
print(f"二阶聚类的轮廓系数: {silhouette_avg:.4f}")

二阶聚类的轮廓系数: 0.1777

# K-Means聚类

In [17]:
import pandas as pd
import numpy as np
k_means = pd.read_csv('spss_examine/k_means_cluster.csv')
k_means.head()

           x          y  label  QCL_1
0  36.364452   0.234396    5.0      1
1  73.174667  40.009937    0.0      2
2  29.087975 -72.028297    4.0      3
3 -62.729225  47.904079    1.0      6
4 -16.324730 -41.660793    9.0      4

In [18]:
mapped_clusters = {}
for cluster_id in range(1, 11):
    cluster = k_means[k_means['QCL_1'] == cluster_id]['label'].tolist()
    most_frequent = max(set(cluster), key=cluster.count)
    mapped_clusters[cluster_id] = most_frequent
mapped_clusters

{1: 5.0,
 2: 0.0,
 3: 4.0,
 4: 9.0,
 5: 7.0,
 6: 2.0,
 7: 1.0,
 8: 3.0,
 9: 8.0,
 10: 6.0}

In [19]:
k_means['QCL_1'] = k_means['QCL_1'].replace(mapped_clusters)
k_means.head(10)

           x          y  label  QCL_1
0  36.364452   0.234396    5.0      5
1  73.174667  40.009937    0.0      0
2  29.087975 -72.028297    4.0      4
3 -62.729225  47.904079    1.0      2
4 -16.324730 -41.660793    9.0      9
5 -41.593952  77.744614    2.0      2
6 -91.662285 -12.126204    1.0      1
7   6.932587  69.251534    3.0      3
8 -82.378654 -15.227177    1.0      1
9  13.855180 -36.795948    4.0      9

In [20]:
accuracy = np.mean(k_means['QCL_1'] == k_means['label'])
print(f"映射后的准确率: {accuracy:.4f}")

映射后的准确率: 0.8500

In [22]:
silhouette_avg_kmeans = silhouette_score(k_means[['x', 'y']], k_means['QCL_1'])
print(f"K-means聚类的轮廓系数: {silhouette_avg_kmeans:.4f}")

K-means聚类的轮廓系数: 0.4233